! change to change color scheme of dwm and st
#include "/home/simen/.config/xresources/gruvbox-dark"

st.background: bg
st.foreground: fg
st.color0:     c0
st.color8:     c8
st.color1:     c1
st.color9:     c9
st.color2:     c2
st.color10:    c10
st.color3:     c3
st.color11:    c11
st.color4:     c4
st.color12:    c12
st.color5:     c5
st.color13:    c13
st.color6:     c6
st.color14:    c14
st.color7:     c7
st.color15:    c15
st.cursorColor: #f0f
st.termname: st-256color

dwm.normbgcolor:     bg
dwm.normbordercolor: c0
dwm.normfgcolor:     fg
dwm.selbgcolor:      bg
dwm.selfgcolor:      c4
dwm.selbordercolor:  c4

Xcursor.size: 14
